@model TravelTripProje.Models.Sınıflar.Blog
@{
    ViewBag.Title = "BlogDetayGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Detay Sayfası</h2>
<br />
@using (Html.BeginForm("BlogDetayGetir", "Admin", FormMethod.Post)) //Ne zaman Çalışacak ActionResult Blogdetaygetir devreye girdiğinde çalışacak,Bu BlogGuncelle nerede AdminContoller içinde Admin yazdık, Sayfada butona tıklanıp post işlemi gerçekleştiği zaman
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" }) //readonly değişiklik yapmayı engelliyor.
    <br />
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.BlogImage)
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.Aciklama)

    @Html.TextAreaFor(x => x.Aciklama, 15, 1, new { @class = "form-control", @readonly = "readonly" })
    
    
}

