@model TravelTripProje.Models.Sınıflar.Yorumlar
@{
    ViewBag.Title = "YorumGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorum Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("YorumGuncelleme", "Admin", FormMethod.Post)) //Ne zaman Çalışacak ActionResult YorumGuncelleme devreye girdiğinde çalışacak,Bu BlogGuncelle nerede AdminContoller içinde Admin yazdık, Sayfada butona tıklanıp post işlemi gerçekleştiği zaman
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" }) //readonly değişiklik yapmayı engelliyor.
    <br />
    @Html.LabelFor(x => x.KullaniciAdi)
    @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Yorum)
    @Html.TextAreaFor(x => x.Yorum,15,1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Yorum Güncelle</button>
}

